<h2>Sent</h2>

<% if @sent_messages.empty? %>
  <div class="alert alert-danger">Empty message box</div>
<% end %>

<%= link_to 'New message', new_message_path, class: 'btn btn-secondary' %>
<br>
<br>

<table class="table table-striped">
  <thead class="thead thead-default">
    <tr>
      <th>To</th>
      <th>Subject</th>
      <th>Read at</th>
    </tr>
  </thead>

  <tbody>
    <% @sent_messages.each do |item| %>
      <tr>
        <!-- If status equal 1, it means this message is read -->
        <% if item.status == 1 %>
          <td><%= item.get_receiver %></td>
          <td><%= item.subject %></td>
          <td><%= item.updated_at.localtime %></td>
        <% else %>
          <td><strong><%= item.get_receiver %></strong></td>
          <td><strong><%= item.subject %></strong></td>
          <td><strong>Unread</strong></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
